@CHARSET "UTF-8";

.popup_outer {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-image: url(img/dark.png);
	z-index: 99;
}

.popup_container {
	position: relative;
	display: inline-block;
	max-width: 95%;
}

.popup_close {
	position: absolute;
	border: solid 3px #000000;
	background-color: #FFFFFF;
	right: -8px;
	top: -8px;
	width: 16px;
	height: 16px;
	border-radius: 17px;
	text-align: center;
	cursor: pointer;
}

.popup_close a {
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}